<article id="bet">
	<h1>Nova aposta</h1>
		<p>Partit {{game.id}}</p>
		<p>Aposta {{bet.tip}}</p>
		{{input type="text" class="new-bet" placeholder=newBetPlaceholder value=newBet insert-newline="createBet"}}
				<button {{action "createBet"}} class="btn btn-primary btn-sm new-bet-button">Guarda</button>
</article>